.banner{
    background-image: url(https://github.com/Kevin-alcaino/Desarrollo_de_portafolio/blob/2f35ba6c1bf73bb9deb5813624978b1aaa7bc12c/Desafio%202/assets/img/Captura%20de%20pantalla%20(87).png);
    background-size: cover;
    color: antiquewhite;
    padding: 40px;
    margin: 15px;
    text-align: center;
}
 .imagen{
width: 350px;
height: 250px;
border-radius: 25px;
}
.texto{background-size:cover;
    padding: 70px;
    margin: 15px;
    text-align: left;

}
.redes{
   background-image: url(https://github.com/Kevin-alcaino/Desarrollo_de_portafolio/blob/2f35ba6c1bf73bb9deb5813624978b1aaa7bc12c/Desafio%202/assets/img/Captura%20de%20pantalla%20(87).png);
    padding: 20px;
    margin: 15px;
    text-align: center;
    color: antiquewhite
}