.contenedor{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(90, 129, 134);
}
.contenedor-habilidades {  
  border-radius: 15px;      
  margin: 2px;                 
  padding: 8px 8px 8px -2px;           
  background-color: rgb(90, 129, 134);
  max-width: 1000px;
}

/* secciones */



.iconos{
    display: flex;
    padding-bottom: 25px;
}


.avatar-circular {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(58, 78, 83);
}

aside{
    display: flex;
    justify-content: space-between;
}

/* Iconos */
.html svg{
    width: 100px;
    height: 100px;
}

.css svg{
    width: 100px;
    height: 100px;
}

.bootstrap svg{
    width: 100px;
    height: 100px;
}

.git svg{
     width: 100px;
    height: 100px;
}

.github svg{
     width: 100px;
    height: 100px;
}
/* portafolio */

.custom-img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Evita que la imagen se deforme */
  margin: 15px auto 0; /* Centra la imagen dentro de la card */
  display: block;
}

/* Efecto de movimiento y sombra */
.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.custom-card:hover {
  transform: translateY(-10px); /* Movimiento hacia arriba */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* Sombra para dar profundidad */
  cursor: pointer;
}